    <script>
        [
          location.origin+'/js/path.js',
          location.origin+'/js/themes/dark_theme.js',
          location.origin+'/js/themes/bind_theme_by_session.js',
        ].forEach(function(src){
            let script = document.createElement('script');
            script.src = src;
            script.async = false;
            document.head.appendChild(script);
        });

        [
            location.origin+'/js/garbage.js'
        ].forEach(function(src){
            let script = document.createElement('script');
            script.src = src;
            script.async = false;
            document.body.appendChild(script);
        });
  	</script>
  </body>
</html>