<link rel="stylesheet" type="text/css" href="../../css/background.css">
<style>
    .profile-card {
        border: 1px solid rgba(0,0,0,0.125) !important;
        border-radius: 10px !important;
        margin-top: 20px !important;
    }
</style>

<div class="background" style='z-index:-1;'>
   <div class="cube"></div>
   <div class="cube"></div>
   <div class="cube"></div>
   <div class="cube"></div>
   <div class="cube"></div>
</div>

<div class='word-wrap'>
    <div class="words">
        <div class="words__item">
            <span>P</span>
            <span>r</span>
            <span>o</span>
            <span>f</span>
            <span>i</span>
            <span>l</span>
            <span>e</span>
        </div>
    </div>
</div>